body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: hsl(228, 56%, 26%);
  width: 35rem;
  height: 20.5rem;
  border-radius: 1rem 10rem 1rem 1rem;
}
.card1__img {
  margin: 3rem 0 2rem 4rem;
  width: 17rem;
}
.card1__main {
  margin-top: 4rem;
  margin-left: 4rem;
}
.card1__main__documents {
  background-image: url(../images/icon-document.svg);
  padding: 2.1rem 2.5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 1rem;
  background-color: hfylo-data-storage-component-mastersl(229, 57%, 11%);
}
.card1__main__folder {
  background-image: url(../images/icon-folder.svg);
  padding: 2.1rem 2.5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 1rem;
  background-color: hfylo-data-storage-component-mastersl(229, 57%, 11%);
  margin: 0 1.5rem 0 1.5rem;
}
.card1__main__upload {
  background-image: url(../images/icon-upload.svg);
  padding: 2.1rem 2.5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 1rem;
  background-color: hfylo-data-storage-component-mastersl(229, 57%, 11%);
}

.card2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 35rem;
  height: 18rem;
  border-radius: 1.3rem;
  background-color: hsl(228, 56%, 26%);
}
.card2__text {
  margin-top: 3rem;
  color: hsl(229, 7%, 55%);
  font-size: 1.6rem;
  font-weight: 700;
}
.card2__text--variant {
  color: hsl(243, 100%, 93%);
}
.card2__bar {
  width: 80%;
  height: 2.1rem;
  background-color: hfylo-data-storage-component-mastersl(229, 57%, 11%);
  border-radius: 1rem;
}
.card2__barcolor {
  width: 77%;
  height: 1.5rem;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 1rem;
  margin: 0.3rem 0 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card2__barcolor__circle {
  margin-right: 0.4rem;
  background-color: hsl(243, 100%, 93%);
  width: 5%;
  height: 70%;
  border-radius: 4rem;
}
.card2__storage {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: hsl(243, 100%, 93%);
  font-weight: 700;
}
.card2__storage__min {
  margin-right: 18rem;
}

.gbleft {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 3.5rem;
  background-color: rgb(243, 243, 243);
  width: 20rem;
  height: 8rem;
  border-radius: 1.5rem;
}
.gbleft__number {
  font-size: 5rem;
}
.gbleft__text {
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(229, 7%, 55%);
  margin-left: 1rem;
}

@media screen and (max-width: 376px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 275px) {
  html {
    font-size: 40%;
  }
}/*# sourceMappingURL=style.css.map */